/* Füge den folgenden CSS-Code hinzu, um die Cocktails und Container zu stylen */

/* Setzt die Hintergrundfarbe auf Schwarz und die Schriftfarbe auf Weiß für den gesamten Inhalt */
body {
  background-color:#000;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Füge den folgenden CSS-Code hinzu, um den Header zu stylen */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-brand {
  position:sticky;
}

h1 {
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 0;
  margin-right:2em;
}

.menu-icon {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 20px;
  top: 70px;
}

.menu-icon:hover + .dropdown-content, .dropdown-content:hover {
  display: block;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
}

.dropdown-content li {
  padding: 8px;
}

.dropdown-content li a {
  text-decoration: none;
  color: #333;
}

.dropdown-content li a:hover {
  color: #666;
}

/* Cocktails Container untereinander anzuordnen */
.cocktail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;

}


main {
  background-color: #000;
           max-width: 70em;
           margin: 3em auto;
}

section {
  width: 100%;
  flex-basis: 30%;
  margin-bottom: 40px;
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


section h2 {
  text-align: center;
  padding: 20px 0;
  color: #fff;
}


.ingredient-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-bottom: 20px;
}

.ingredient-list li {
  color: white;
  margin: 5px;
  white-space: nowrap;
}

.cocktail-info {
  padding: 20px;
  background-color: #827d6d;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}
.animated-image {
 background-color:#262626;
}
.api-text {
  padding: 20px;
  background-color: #827d6d;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

.animated-ingredients {
  flex: 1;
}

.api-text {
  flex: 1;
}

.ingredient-list {
  justify-content: left;

}

.ingredient-list li {
  color: white;
  margin: 5px;
  white-space: nowrap;
}
/*die schwebenden Zutaten zu animieren */


.floating-ingredients {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 2em;
  height:2em;
  margin:1em;
}

.floating-icon {
  max-width: 30px;
  margin: 0 5px;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

/* Füge den folgenden CSS-Code hinzu, um die animierten Bilder zu stylen */
.animated-image img {
  max-width: 100%;
  transition: transform 0.5s ease;
  margin-left: 33%;
  
}

.animated-image img:hover {
  cursor: pointer;
  transform: scale(1.1); /* Vergrößern des Bildes beim Hover */
}


/* Füge den folgenden CSS-Code hinzu, um die Bilder der Cocktails zu stylen */
.cocktail-images img {
  max-width: 100%;
}

/* Flexbox-Container für die waagerechte Anordnung des Inhalts */
#cocktailsanimation .cocktail-show,
#cocktailsanimation .cocktailsmagicpic,
#cocktailsanimation .button_drinkme {
  display: flex;
}

/* Optionale Stilisierung für die einzelnen Elemente innerhalb des Containers */
#cocktailsanimation .cocktail-show li,
#cocktailsanimation .cocktailsmagicpic li,
#cocktailsanimation .button_drinkme button 

footer {
	background-color: #262626;
  left: 0;
  bottom: 0;
  height:5em;
  width: 100%;
  color: white;
  text-align: center;	
  font-size: small;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.footer-links a:hover {
  color: #666;
}
