
.drinks {
    margin: 5vw;
    padding: 5vw;
    font-size: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: honeydew;
}

.drink-margarita{
    background-color:ivory;
    margin: 5vw;
    padding: 5vw;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.drink-pinacolada {
    background-color:ivory;
    margin: 5vw;
    padding: 5vw;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.drink-mojito {
    background-color: ivory;
    margin:8vw;
    padding: 5vw;
    font-size:1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.drink-gintonic {
    background-color: ivory;
    margin:5vw;
    padding: 5vw;
    font-size:1rem;
    font-family: Arial, Helvetica, sans-serif;

}

img {
    width: 30vw;
    height: 100%;
}